parameters:
  - name: component
    type: object
  - name: environment
    type: object

steps:
  - task: AzureRmWebAppDeployment@4
    displayName: 'Deploy Frontend'
    inputs:
      azureSubscription: '${{parameters.environment.azureServiceConnection}}'
      appType: webAppLinux
      WebAppName: '${{parameters.component.appName}}'
      packageForLinux: '$(Pipeline.Workspace)/BuildPipeline/${{parameters.component.name}}/frontend.zip'
      deployToSlotOrASE: false
      resourceGroupName: '${{parameters.component.resourceGroupName}}'
      StartupCommand: '/home/site/wwwroot/node_modules/next/dist/bin/next start'
