parameters:
- name: basePath
  type: string
- name: components
  type: object 

#
# Post-Build tasks after all jobs have finished thag tags the sources and publishes ARM TTK test results
#

steps:
- task: DownloadPipelineArtifact@2
  inputs:
    path: $(Build.ArtifactStagingDirectory)

- task: PublishTestResults@2
  displayName: 'Publish ARM TTK Test Results'
  inputs:
    testResultsFormat: NUnit
    testResultsFiles: ' $(Pipeline.Workspace)\**\*-armttk.xml'
    mergeTestResults: true
    failTaskOnFailedTests: true
    testRunTitle: '$(Build.DefinitionName)-$(Build.BuildNumber)'

- checkout: self
  persistCredentials: true

- task: PowerShell@2
  displayName: Tag Sources            
  inputs:
    targetType: 'inline'
    script: |
        Write-Host "Tagging Build: $env:BUILD_DEFINITIONNAME-$env:BUILD_BUILDNUMBER"                
        git tag $env:BUILD_DEFINITIONNAME-$env:BUILD_BUILDNUMBER
        git push origin $env:BUILD_DEFINITIONNAME-$env:BUILD_BUILDNUMBER